@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase

<div class="app-shell">
    <aside class="sidebar">
        <div class="brand">PokerAnalyzer</div>
        <nav class="nav">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="handhistories/upload">Upload Hand History</NavLink>
        </nav>
    </aside>

    <main class="main">
        <div class="content">
            @Body
        </div>
    </main>
</div>
